<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-4">
    <div class="field">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "off", class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "off", class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :firstName %>
      <%= form.text_field :firstName, id: :patient_firstName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :lastName %>
      <%= form.text_field :lastName, id: :patient_lastName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :dob %>
      <%= form.date_select :dob, :start_year=> 1900, :end_year=> Date.current.year, id: :patient_dob, class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :patient_address, class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :phone %>
      <%= form.number_field :phone, id: :patient_phone, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :admin %>
      <%= form.select :admin, [['true', true], ['false', false]], id: :user_admin, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :doctor %>
      <%= form.select :doctor, [['true', true], ['false', false]], id: :user_docto, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :patient %>
      <%= form.select :patient, [['true', true], ['false', false]], id: :user_patient, class: ['form-control'] %>
    </div>

    </br>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
