<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= form.label :admin %>
    <%= form.select :admin, [['true', true], ['false', false]], id: :user_admin %>
  </div>
  
  <div class="field">
    <%= form.label :doctor %>
    <%= form.select :doctor, [['true', true], ['false', false]], id: :user_doctor %>
  </div>
  
  <div class="field">
    <%= form.label :patient %>
    <%= form.select :patient, [['true', true], ['false', false]], id: :user_patient %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
