<h1>Hi <%= current_user.email %></h1>
<ul>
    <% if current_user.patient %>
        <li><%= link_to 'Edit Profile', edit_patient_path(id: @patient.id) %></li>
    <% elsif current_user.doctor %>
        <li><%= link_to 'Edit Profile', edit_doctor_path(id: @doctor.id) %></li>
    <% end %>
    <li><%= link_to 'Change your password', edit_user_registration_path %></li>
</ul>

<% if current_user.patient %>
    <h2>Current Appointment:</h2>
    <%= render :file => '/patients/show', patient: @patient %>
<% elsif current_user.doctor %>
    <h2>Current Patients</h2>
    <%= render :file => '/doctors/show', doctor: @doctor %>
<% else %>
    <%= render :file => '/users/index', users: @users %>
    <%= render :file => '/doctors/index', doctors: @doctors %>
    <%= render :file => '/patients/index', patients: @patients %>
<% end %>