<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-4">
    <div class="field">
      <%= form.label :firstName %>
      <%= form.text_field :firstName, id: :patient_firstName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :lastName %>
      <%= form.text_field :lastName, id: :patient_lastName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <% if current_user.doctor || current_user.admin %>
        <%= form.text_field :email, id: :patient_email, class: ['form-control'] %>
      <% else %>
        <%= form.text_field :email, id: :patient_email, :value => current_user.email, class: ['form-control'] %>
      <% end %>
    </div>
  
    <div class="field">
      <%= form.label :dob %>
      <%= form.date_select :dob, :order => [:day, :month, :year], :start_year=> 1900, :end_year=> Date.current.year, id: :patient_dob, :value => current_user.dob, class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :patient_address, class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :phone %>
      <%= form.number_field :phone, id: :patient_phone, class: ['form-control'] %>
    </div>
  
    <div class="field">
      <%= form.label :symptom %>
      <%= form.text_field :symptom, id: :patient_symptom, class: ['form-control'] %>
    </div>

    </br>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
