<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Symptom:</strong>
  <%= @patient.symptom %>
</p>

<h1>Doctor</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Clinic</th>
      <th>Specialisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor = @patient.doctor %>
      <tr>
        <td><%= @doctor.firstName %></td>
        <td><%= @doctor.lastName %></td>
        <td><%= @doctor.email %></td>
        <td><%= @doctor.clinic %></td>
        <td><%= @doctor.specialisation %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
