<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :firstName %>
      <%= form.text_field :firstName, id: :doctor_firstName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :lastName %>
      <%= form.text_field :lastName, id: :doctor_lastName, class: ['form-control'] %>
    </div>
    
    <div class="field">
      <%= form.label :email %><br />
      <% if current_user.admin %>
        <%= form.email_field :email, id: :doctor_email, autofocus: true, autocomplete: "email", class: ['form-control'] %>
      <% else %>
        <%= form.email_field :email, id: :doctor_email, autofocus: true, autocomplete: "email", class: ['form-control'] %>
      <% end %>
    </div>
    
    <div class="field">
      <%= form.label :clinic %>
      <%= form.select :clinic, @options.map { |value| [ value, value ] }, {}, {class: ['form-control']} %>
    </div>
  
    <div class="field">
      <%= form.label :specialisation %>
      <%= form.text_field :specialisation, id: :doctor_specialisation, class: ['form-control'] %>
    </div>
    
    </br>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
