<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @doctor.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @doctor.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @doctor.clinic %>
</p>

<p>
  <strong>Specialisation:</strong>
  <%= @doctor.specialisation %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
