<!DOCTYPE html>
<html>
  <head>
    <title>HealthApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class='container-fluid'>
    <%= render 'layouts/header' %>
    <hr>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <hr>
    <%= render 'layouts/footer' %>
  </body>
</html>
